<header>
    <h1>{{main_title}}</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/users">Users</a></li>
        </ul>
    </nav>
</header>